services:
  db:
    image: mysql
    ports:
      - 3306:3306
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: events
      MYSQL_DATABASE: events
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: