@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto;
}

img{
    width: 60%;
    display: flex;
    margin: 0 auto;
}
